@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f5f5f7];
    -webkit-font-smoothing: antialiased;
  }

  @media all and (display-mode: standalone) {
    html, body, #root {
      width: 800px !important;
      height: 800px !important;
      overflow-y: auto;
      overflow-x: hidden;
      margin: 0 auto;
      position: fixed;
    }

    .min-h-screen {
      min-height: 0 !important;
      height: auto !important;
      padding: 1.5rem !important;
    }
  }
}

@layer components {
  input[type="checkbox"] {
    @apply transition-all duration-200 ease-in-out;
  }
}
